<h1>Weelcome to Admin Dashboard</h1>

<%= link_to "states", "/admin/states" %><br />
<%= link_to "categories", "/admin/categories" %><br />
<%= link_to "colleges", "/admin/colleges" %><br />
<%= link_to "users", "/admin/users" %><br />
<%= link_to "payment_options", "/admin/payment_options" %><br />
<hr />


<%= link_to "logout", "/users/sign_out" %>|<%= link_to "back to survey","/" %>