  <h1><b>Step 1: Payment Page - Coupon </b></h1><br/>
<% form_tag calculate_amount_orders_path, :method => :put, :remote => true do %>


    
      
      <p>
        <%= label_tag 'coupon', 'Coupon' %>
        <%= text_field_tag 'coupon', '' %>
      </p>
   
      
      <p>
        <%= label_tag 'Duration', 'Duration' %>
        <%= select_tag :duration,  options_from_collection_for_select(PaymentOption.all, "amount", "name"),{:onchange=>"change_price()"}
         %>
        <%= text_field_tag 'price', PaymentOption.first.amount ,{:id=>"amount",:disabled => true} %>
  </p>

      
      <p>

        <%= submit_tag "Submit", :name => nil %>
      </p>

<% end %>


  <script type="text/javascript">

      function change_price()
      {
        document.getElementById('amount').value = document.getElementById('duration').value;
      }

  </script>
